nav ul li a:hover {
    color: gray;
}
header{
    background-color: white;
}
.clr-blue{
    color: #5284B5;
}

@media screen and (max-width:991px) {
    header nav {
        position: absolute;
        top: 105%;
        right: 2rem;
        border-radius: .3rem;
        box-shadow: .5rem .5rem 0 rgba(5, 5, 5, .2);
        width: 15rem;
        /* border: 1px solid black; */
        background-color: #ffffff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    header nav.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    header nav li a {
        display: block;
    }

    header nav ul {
        padding: 0.5rem;
    }
}


@media screen and (max-width:640px) {
    .logo{
        margin-right: 12px;
    }
    .search input{
        width: 200px;
        font-size: 0.75rem;
    }
}

@media screen and (max-width:375px) {
    .logo{
        margin-right: 15px;
    }
    .search input{
        width: 150px;
        font-size: 0.75rem;
    }
}